name: Windows CI

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
        fetch-depth: 0
    - name: Build and pack Iris
      run: |
        git fetch --all --tags
        cmake -S . -B build -G "MinGW Makefiles" -DCMAKE_BUILD_TYPE=RelWithDebInfo
        cmake --build build -j8 
        New-Item -Path "dist" -ItemType Directory
        Copy-Item -Path ".\build\iris.exe" "dist"
        Copy-Item ".\build\*.dll" "dist"
        Copy-Item "C:\mingw64\bin\*.dll" "dist"
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: iris-latest-windows
        path: dist/




